
/* html,body,#root, .app {
    height: 100%;
    background-color: #010026;
    @apply text-white
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(30, 30, 30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}